.image__container {
  position: relative;
  width: 100%;
}

.spinner__container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
ion-img {
  &::part(image) {
    min-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
}
