// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #5d1049;
  --ion-color-primary-rgb: 93, 16, 73;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4f0d3d;
  --ion-color-primary-tint: #6f1a5b;

  /** secondary **/
  --ion-color-secondary: #e3d26a;
  --ion-color-secondary-rgb: 227, 210, 106;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #c2b859;
  --ion-color-secondary-tint: #e4d87b;

  /** tertiary **/
  --ion-color-tertiary: #e98074;
  --ion-color-tertiary-rgb: 233, 128, 116;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #cf6a65;
  --ion-color-tertiary-tint: #ea8a80;

  /** success **/
  --ion-color-success: #8fb9a8;
  --ion-color-success-rgb: 143, 185, 168;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #7da392;
  --ion-color-success-tint: #9ac1b7;

  /** warning **/
  --ion-color-warning: #f2a07b;
  --ion-color-warning-rgb: 242, 160, 123;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d88c6a;
  --ion-color-warning-tint: #f3aa8e;

  /** danger **/
  --ion-color-danger: #ef3e36;
  --ion-color-danger-rgb: 239, 62, 54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d2352e;
  --ion-color-danger-tint: #f24f40;

  /** dark **/
  --ion-color-dark: #2f2e41;
  --ion-color-dark-rgb: 47, 46, 65;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #282736;
  --ion-color-dark-tint: #3a3a4d;

  /** medium **/
  --ion-color-medium: #9a8c98;
  --ion-color-medium-rgb: 154, 140, 152;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #877a85;
  --ion-color-medium-tint: #a598a4;

  /** light **/
  --ion-color-light: #c5cbe3;
  --ion-color-light-rgb: 197, 203, 227;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #aeb4c2;
  --ion-color-light-tint: #d0d4e8;

  --ion-back-button: var(--ion-color-dark);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #4f0d3d;
    --ion-color-primary-rgb: 79, 13, 61;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #420b33;
    --ion-color-primary-tint: #61184f;

    --ion-color-secondary: #c2b859;
    --ion-color-secondary-rgb: 194, 184, 89;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #a79e4c;
    --ion-color-secondary-tint: #d3c26e;

    --ion-color-tertiary: #cf6a65;
    --ion-color-tertiary-rgb: 207, 106, 101;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #b55c57;
    --ion-color-tertiary-tint: #d57876;

    --ion-color-success: #7da392;
    --ion-color-success-rgb: 125, 163, 146;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #6c907d;
    --ion-color-success-tint: #8ebaa6;

    --ion-color-warning: #d88c6a;
    --ion-color-warning-rgb: 216, 140, 106;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #bc7859;
    --ion-color-warning-tint: #e39a7e;

    --ion-color-danger: #d2352e;
    --ion-color-danger-rgb: 210, 53, 46;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #b62d26;
    --ion-color-danger-tint: #d9463e;

    --ion-color-dark: #282736;
    --ion-color-dark-rgb: 40, 39, 54;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #22202c;
    --ion-color-dark-tint: #343240;

    --ion-color-medium: #877a85;
    --ion-color-medium-rgb: 135, 122, 133;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #766b74;
    --ion-color-medium-tint: #988c96;

    --ion-color-light: #aeb4c2;
    --ion-color-light-rgb: 174, 180, 194;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #979dae;
    --ion-color-light-tint: #b8bfd6;

    --ion-back-button: var(--ion-color-light);
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
